@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sora:wght@100..800&display=swap');

/* Universal and Elements */

:root{
    --txt-clr: rgb(177, 151, 252);
    --bg-clr: rgb(244, 230, 255);
    --drk-txt: rgb(154, 66, 236);
}

* {
    font-family: "Sora", sans-serif;
}

body {
    background-color: rgb(216, 195, 224);
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-clr);
    color: var(--txt-clr);
    border-radius: 10px;
    padding: 4px;

}

/* IDs and Classes */

#logo {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-end;
   gap: 4px;
}

#logo-txt {
    margin: 0;  
}

#welcomer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 15px;
    margin: 30px 0;
}

#welcome-txt {
    flex: 0 1 500px;
    color: var(--drk-txt);
}

#gallery {
    background-color: var(--bg-clr);
    color: var(--txt-clr);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#picture-display {
    display: grid;
    grid-template-columns: repeat(5, 400px);
    grid-template-rows: auto;
    overflow-x: scroll;
    gap: 15px;
    width: 90%;
    margin-bottom: 25px;
}


.header-txt {
    font-family: "Pacifico", Impact, sans-serif;
    letter-spacing: 2px;
}

.artwork {
    border: 1.5px solid var(--drk-txt);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.artwork img {
    width: 350px;
    height: 350px;
}

.artwork figcaption {
    margin-top: 5px;
}