@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sora:wght@100..800&display=swap');

/* Universal and Elements */

:root{
    --txt-clr: rgb(177, 151, 252);
}

* {
    font-family: "Sora", sans-serif;
}

body {
    background-color: rgb(216, 195, 224);
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(244, 230, 255);
    color: var(--txt-clr);
    border-radius: 10px;
    padding: 8px;

}

/* IDs and Classes */

#logo {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-end;
   gap: 4px;
}

#logo-txt {
    margin: 0;  
}

#welcomer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 15px;
    margin-top: 10px;
}

#welcome-txt {
    flex: 0 1 500px;
    color: rgb(154, 66, 236);
}



.header-txt {
    font-family: "Pacifico", Impact, sans-serif;
    letter-spacing: 2px;
}

